extends ../base.pug

block variables 
  - var template = 'detail'

block content
  .detail(data-background="#BC978C" data-color="#F9F1E7")  
    .detail__wrapper 
      figure.detail__media
        img.detail__media__image(alt=product.data.image data-src=product.data.image.url)

      .detail__information
        p.detail__information__collection=product.data.collection.data.title

        h1.detail__information__title=product.data.title

        .detail__information__content
          .detai__information__highlights
            each highlight in product.data.highlights
              p.detail__information__highlight
                svg.detail__information__highlight__icon
                  use(xlink:href=`sprite-${highlight.highlights_icon.toLowerCase()}`)

                //- for having text inside a paragraph can use the concatenator syntax with #
                //- | #{highlight.highlights_text} 

                span.detail__information__highlight__text!=highlight.highlights_text.replace(/\n/, '<br>')

          .detail__information__list
            each item in product.data.informations  
              p.detail__information__item 
                strong.detail__information__item__title=item.informations_label
                span.detail__information__item__description=item.informations_description

          a.detail__information__link(href=product.data.link_url.url target="_blank")=product.data.link_text
    
    button.detail__button Close 
      svg.detail__button__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 60")
        path(stroke="currentColor" fill="none" d="M62,0.5c33.97,0,61.5,13.21,61.5,29.5S95.97,59.5,62,59.5S0.5,46.29,0.5,30S28.03,0.5,62,0.5z")
        path.detail__link__icon__path(stroke="#FFC400" fill="none" d="M62,0.5c33.97,0,61.5,13.21,61.5,29.5S95.97,59.5,62,59.5S0.5,46.29,0.5,30S28.03,0.5,62,0.5z")
